html {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-image: url('/portfolio/17-23-54-364_512.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  /* Fallback */
  position: relative;
  min-height: 100vh;
}


body {
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

a {
  color: #9cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}